name: mobichan_domain
description: A new Flutter package project.
version: 0.0.1
homepage:
environment:
  sdk: ">=3.8.0 <4.0.0"
  flutter: ">=3.8.0"
dependencies:
  equatable: ^2.0.7
  collection: ^1.19.0
  flutter:
    sdk: flutter
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
flutter:
